
body{

    font-family: 'Montserrat', sans-serif;
    background-color: white;
}


nav{
    background-color: #1c2665;
    color: white;
}
.navbar-toggler-icon {
    background-color: white; 

    height: 3px; /* Ajusta el grosor de las barras */
    width: 30px; /* Ajusta el ancho de las barras */
}


.logo{
    width: 10rem;
    height: 6rem;
}
.carousel {
    max-width: 100%;
    max-height: 400px; 
  }
  
  .carousel img {
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    object-fit: cover; 
  }


/* locacion--------------------------- */
.location{
    text-align: left;
    margin: 0 0 20px;
   
}

.location h3{
    font-family: "Monoton", sans-serif;
    color: #1c2665;
}

.location h4{
    color: #53b2f2;
    font-family: "Oswald", sans-serif;
}

.location_list::marker{

    color: #53b2f2;
    

}

.location li{

    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}






.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;


}

.productos li{

    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top ;
    background: white;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius:10px;


}
.productos li:hover{

    border-color: #53b2f2;


}


.productos h2{

    font-size: 30px;
    font-weight: bold;


}

.productos li:hover h2{
    color:#53b2f2;
    font-size: 33px;
}

.descripcion_producto{
    font-size: 18px;
}

.descripcion_precio{

    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;

}


footer{

    text-align: center;
    padding:10px;
    background-color: #1c2665;
}





.custom-title {
    font-size: 2rem; /* Tamaño predeterminado */
}

/* Pantallas medianas (>=768px) */
@media (min-width: 768px) {
    .custom-title {
        font-size: 3rem;
    }
}

/* Pantallas grandes (>=992px) */
@media (min-width: 989px) {
    .custom-title {
        font-size: 4rem;
    }
}

/* Pantallas extra grandes (>=1200px) */
@media (min-width: 1200px) {
    .custom-title {
        font-size: 4.5rem;
    }
}












